*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1C1C1C;
  list-style: initial;
  text-decoration: none;
}

html,body{
  height: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-image: url(../img/Wallpaper.png);
}

hr{
  position: relative;
  border-color: #4e4a4a;
}

.center{
  position: relative;
  display: block;
  background-color: #1C1C1C;
  height: 80px;
  width: 100%;
}

.menu{
  width: 1000px;
  height: 100%;
  display: block;
  margin: auto;
}

.logo{
  height: 100%;
  display: table;
  float: left;
}

.logo h1{
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.logo h1 a{
  color: #05A869;
  font-size: 35px;
}

nav{
  float: right;
  height: 100%;
}

nav a{
  height: 100%;
  display: table;
  float: left;
  padding: 28px 20px;
}

nav a:last-child{
  padding-right: 0;
}

nav a li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: #EFEFEF;
}

nav a li span{
  color: #05A869;
}

section{
  display: table;
  margin: auto;
  background-color: transparent;
}

section h1{
  display: table;
  margin: auto;
  color: #05A869;
  font-size: 40px;
  margin-top: 20px;
  animation: slide 1s;
}

section h2{
  display: table;
  margin: auto;
  color: #05A869;
  text-align: center;
  width: 60%;
  font-size: 24px;
  margin-top: 20px;
  animation: slide 2s;
}

section p{
  display: table;
  margin: auto;
  color: #EFEFEF;
  text-align: justify;
  width: 53%;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  animation: fadein 2s;
}

section a{
  color: #EFEFEF;
  text-decoration: underline #05A869;
}

::-webkit-scrollbar{
  width: 4px;
}

::-webkit-scrollbar-thumb{
  background-color: #05A869;
}

@keyframes slide{
  0% {transform: translateY(-25px)}
  100% {transform: translateY(0px)}
  0% {opacity: 0}
  100% {opacity: 1}
}
  
@keyframes fadein{
  0% {opacity: 0}
  65% {opacity: 0}
  100% {opacity: 1}
}
