*{
  margin: 0;
  padding: 0;
  background-color: #1C1C1C;
  text-decoration: none;
}

html,body{
  height: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-image: url("img/Wallpaper.png");
  margin: 0 auto;
}

hr{
  position: relative;
  border-color: #4e4a4a;
}

.center{
  position: relative;
  display: block;
  background-color: #1C1C1C;
  height: 80px;
  width: 100.3%;
}

.menu{
  width: 1000px;
  height: 100%;
  display: block;
  margin: auto;
}

.logo{
  height: 100%;
  display: table;
  float: left;
}

.logo h1{
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.logo h1 a{
  color: #05A869;
  font-size: 35px;
}

nav{
  float: right;
  height: 100%;
}

nav a{
  height: 100%;
  display: table;
  float: left;
  padding: 28px 20px;
}

nav a:last-child{
  padding-right: 0;
}

nav a li{
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: #EFEFEF;
}

nav a li span{
  color: #05A869;
}

section{
  margin: auto;
  background-color: transparent;
}

.diario{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: transparent;
}

section h1{
  display: table;
  margin: auto;
  color: #05A869;
  font-size: 40px;
  margin-top: 20px;
  animation: slide 2s;
  background-color: transparent;
}

section h2{
  color: #EFEFEF;
  display: table;
  background-color: #05A869;
  border: 3px solid #05A869;
  border-radius: 25px;
  width: 520px;
  text-align: center;
  margin: auto;
  font-size: 20px;
  margin-bottom: 20px;
  animation: slide 2s;
}

section p span{
  background-color: #05A869;
  display: inline-block;
  border-radius: 25px;
  border: 6px solid #05A869;
  margin-right: 100%;
  margin-bottom: 15px;
  width: 140px;
  text-align: center;
}

section p{
  display: table;
  margin: auto;
  text-align: justify;
  color: #EFEFEF;
  width: 85%;
  font-size: 20px;
  padding: 15px;
  border: 3px inset #05A869;
  border-radius: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

section a{
  color: #EFEFEF;
  text-decoration: underline #05A869;
}

::-webkit-scrollbar{
  width: 4px;
}

::-webkit-scrollbar-thumb{
  background-color: #05A869;
}

.card1{
  animation: fadein 2s;
}

.card2{
  animation: fadein 2.5s;
}

.card3{
  animation: fadein 3s;
}

.card4{
  animation: fadein 3.5s;
}

.card5{
  animation: fadein 4s;
}

.card6{
  animation: fadein 4.5s;
}

.card7{
  animation: fadein 5s;
}

.card8{
  animation: fadein 5.5s;
}

.card9{
  animation: fadein 6s;
}

.card10{
  animation: fadein 6.5s;
}

@keyframes slide{
  0% {transform: translateY(-25px)}
  100% {transform: translateY(0px)}
  0% {opacity: 0}
  100% {opacity: 1}
}
  
@keyframes fadein{
  0% {opacity: 0}
  65% {opacity:0}
  100% {opacity: 1}
}
